body {
	margin-bottom : 0px;
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
}
ul { 
	font-size:8pt;
	line-height:9pt;
	color : #FFCE00;
 }
li  {
	font-size:8pt;
	line-height:9pt;
	color : #FFCE00;
}
